[*.cs]
# 缩进风格
csharp_new_line_before_open_brace = false

# 永远不要省略 this
csharp_style_this = explicit:warning

# 永远不要使用 ??= 语法糖
dotnet_diagnostic.IDE0074.severity = silent

# 关闭不需要的诊断
dotnet_diagnostic.IDE0003.severity = silent
